$main_color: rgb(103,172,91);
$second_color: rgb(215,216,220);
    
.main_side
    width: 100%
    &_item
        &_title
            color: #adaeb2
            font-size: 0.9em
            margin-bottom: 10px
        &_info
            font-size: 3.5em
            font-weight: 600
            margin-bottom: 30px
    &_submit
        width: 100%
        background: $main_color
        color: #fff
        height: 55px
        border: 1px solid $main_color
        border-radius: 5px
        font-size: 1.3em
        cursor: pointer
        transition: all 0.1s linear
        &:hover
            background: #1bdd02
            border: 1px solid #1bdd02
        &:active
            background: #13a500
            border: 1px solid #13a500