$main_color: rgb(103,172,91);
$second_color: rgb(215,216,220);
    
*
    font-family: Roboto, sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
    background: #fff 

.main
    zoom: 1.25
    margin: 70px 90px
    padding: 80px 90px
    border-radius: 10px
    box-shadow: 0px 0px 46px 5px rgba(146, 146, 146, 0.2);


.sub_main
    display: flex
    justify-content: space-between
    &_items:first-child
        width: 67%
        margin-right: 50px
    &_items:last-child
        width: 33%
        margin-left: 50px

    
.main_info
    color: #adaeb2
    font-size: 0.8em
    margin-top: 30px

.main_info_mar
    margin-top: 42px
  

@media ( max-width: 994px ) 
    .sub_main
        flex-direction: column
        &_items:first-child
            width: 100%
            margin: 0
        &_items:last-child
            width: 100%
            margin-left: 0
            margin-top: 30px


@media ( max-width: 787px )
    .main
        padding: 50px 60px


@media ( max-width: 600px )
    .main
        margin: 40px 50px

@media ( max-width: 520px )
    .main
        padding: 40px 40px
        margin: 30px 30px
        &_info
            font-size: 0.7em

@media ( max-width: 460px )
    .main
        padding: 30px 30px

