* {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  margin: 70px 70px 50px 100px;
}

.sub_main {
  margin: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sub_main_items:first-child {
  width: 60%;
  margin-right: 50px;
}

.sub_main_items:last-child {
  width: 35%;
  margin-left: 50px;
}

.sub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.sub_title_title {
  font-size: 1.3em;
}

.sub_title_change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub_title_change_items {
  padding: 10px 20px;
  border: 3px solid #67ac5b;
}

.sub_title_change_items:first-child {
  position: relative;
  left: 3px;
  border-radius: 5px 0px 0px 5px;
}

.sub_title_change_items:last-child {
  border-radius: 0px 5px 5px 0px;
  border: 3px solid #d7d8dc;
}

.range {
  margin: 40px 0;
}

.range_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.range_text_items {
  font-size: 1.3em;
}

.range_sub {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 2px;
  height: 4px;
  outline: none;
  background: -webkit-linear-gradient(left, #67ac5b 0%, #67ac5b 13.8%, #d7d8dc 13.8%, #d7d8dc 100%);
}

.range_sub::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #67ac5b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.range_sub_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.range_sub_item {
  color: #adaeb2;
  font-size: 0.9em;
}

.main_side {
  width: 100%;
}

.main_side_item_title {
  color: #adaeb2;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.main_side_item_info {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

.main_side_submit {
  width: 100%;
  background: #67ac5b;
  color: #fff;
  height: 55px;
  border: 1px solid #67ac5b;
  border-radius: 5px;
  font-size: 1.3em;
}

.main_info {
  color: #adaeb2;
  font-size: 0.8em;
  margin-top: 30px;
}

@media (max-width: 1120px) {
  .title {
    margin-right: 0;
  }
  .sub_title_title {
    font-size: 1em;
  }
  .sub_title_change_items {
    font-size: 0.8em;
  }
  .range_text_items {
    font-size: 1em;
  }
}

@media (max-width: 950px) {
  .sub_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub_main_items:first-child {
    width: 100%;
    margin: 0;
  }
  .sub_main_items:last-child {
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 776px) {
  .title {
    font-size: 1.5em;
  }
}

@media (max-width: 622px) {
  .title {
    margin-left: 30px;
  }
  .sub_main {
    margin: 0 30px;
  }
}

@media (max-width: 500px) {
  .sub_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 15px;
  }
  .sub_title_change {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 15px;
  }
  .sub_title_change_items {
    font-size: 0.7em;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=App.css.map */